%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* =========================
   CLEARFIX
   ========================= */

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

/* =========================
   RESET LIST
   ========================= */

%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
