@use '../core' as *;

/* =========================
   BASE FORM RESET
   ========================= */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

/* =========================
   BUTTON
   ========================= */

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

/* =========================
   INPUT / TEXTAREA
   ========================= */

input,
textarea {
  margin: 0;
  border-radius: 0;
  appearance: none;
}

textarea {
  resize: vertical;
}

/* =========================
   SELECT
   ========================= */

select {
  appearance: none;
  background-color: transparent;
}

/* =========================
   CHECKBOX / RADIO
   ========================= */

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

/* =========================
   PLACEHOLDER
   ========================= */

::placeholder {
  color: $color-gray-400;
  opacity: 1;
}

/* =========================
   FOCUS
   ========================= */

:focus-visible {
  outline: 2px solid $color-primary;
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}

/* =========================
   DISABLED
   ========================= */

:disabled {
  opacity: 0.6;
}

/* =========================
   FIELDSET / LEGEND
   ========================= */

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  padding: 0;
}
